/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
}

/* Main content styles */
.main-content {
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: white; /* Change background color */
    color: black; /* Change text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
}

.button:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}


/* High or Low styles */

.subjectContainer {
    display: flex;
    justify-content: space-between;
}

.subjectImageContainer {
    width: 49%; /* Roughly 50% width for each image */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.subjectImage {
    max-width: 100%; /* Ensure images don't exceed their container width */
}


/* Popup styles */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
}


/* Ranking Styles */
.subject-rankings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subject-item {
    flex-basis: calc(33.33% - 10px); /* 1/3 of container width with margin */
    margin-bottom: 20px;
    text-align: center;
}

.subject-image {
    width: 100%;
    height: auto;
}
